body{
    margin: 0 auto;
}
.header1{
    width: 100%;
    background: #1f90f7 url(./img/logo.svg) no-repeat left bottom;
    height: 80px;
}
.header2{
    padding: 5px;
    margin-top: 3px;
}
.header2 h1{
    font-size: 48px;
    margin: 0px;
}
.autore{
    font-size: 16px;
    margin: 0px;
}
.autore span{
    color: #7ec0fd;
}
.data{
    font-size: 13px;
    margin: 0px;
}
.immagini{
    margin: 10px;
}
.foto_uno{
    width: 40%;
}
.foto_due{
    width: 34%;
} 
.immagini p{
    font-size: 13px;
    margin-top: 0;
}
.paragrafo